html, body{
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #483248;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px
}

.header-text{
    justify-content: center;
}

#logo{
    color: #483248;
    padding-left: 10px;
}

#picture-header, .header-text, .hero-text, 
.header, .hero, .info, .qoute, .footer, #cta-button, .cta {
    display: flex;
}

.header {
    background-color: #93C572;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}

.hero, .cta{
    background-color: #93C572;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}

.hero-text, .cta-text{
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
    justify-content: center;
    color: #483248
}

button{
    max-width: 100px;
    max-height: 30px;
    background-color: blueviolet;
    color: bisque;
    border-radius: 5px;
}

#picture-header{
    align-items: center;
    justify-content: center;
}

.info{
    display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.picture-info{
    max-width: 150px;
    max-height: 205px;
    margin-bottom: 40px;
}

.qoute{
    background-color: bisque;
    flex-direction: column;
    align-items: center;
}

#author{
    font-weight: 900;
    margin-top: 0;
    font-size: 28px;
}

#qoute-text{
    font-size: 28px;
    width: 50%;
}

.cta{
    margin: 50px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

#cta-button{
    padding-right: 15px;
    padding-left: 15px;
}

h2, #cta-p{
    margin-bottom: 0px;
    margin-top: 0;
}